<div
  *ngIf="card"
  class="card-container"
  [ngStyle]="{ visibility: card.state === 'founded' ? 'hidden' : 'visible' }"
  (click)="cardClicked()"
  [@cardFlip]="card.state"
>
  <div class="face front">
    <label class="card-label">{{ card.name | titlecase }}</label>
    <div class="card-image-container">
      <img class="card-image" [src]="card.image" alt="pokemon_img" />
    </div>
  </div>
  <div class="face back">
    <label class="card-label">{{ backsideData.name | titlecase }}</label>
    <div class="card-image-container">
      <img class="card-image" [src]="backsideData.image" alt="pokemon_img" />
    </div>
  </div>
</div>
