<div class="card-container" (click)="cardClicked()" [@cardFlip]="data.state">
  <div class="face front">
    <label  class="card-label">{{ data.name | titlecase }}</label>
    <div class="card-image-container">
      <img class="card-image" [src]="data.image" alt="pokemon_img">
    </div>
  </div>
  <div class="face back">
    <label  class="card-label">{{ backsideData.name | titlecase }}</label>
    <div class="card-image-container">
      <img class="card-image" [src]="backsideData.image" alt="pokemon_img">
    </div>
  </div>
</div>
